@model WIPSystem.Web.Models.LotTraveller

@{
    ViewData["Title"] = "Delete Lot Traveller";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center">Delete Lot Traveller</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 border-1 border">
            <form asp-action="DeleteConfirmed" asp-controller="LotTraveller" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <input type="hidden" asp-for="@Model.LotTravellerId" />
                    <label asp-for="@Model.Product.PartNo" class="form-label">Part No:</label>
                    <input asp-for="@Model.Product.PartNo" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Product.CustName" class="form-label">Customer Name:</label>
                    <input asp-for="@Model.Product.CustName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.LotNo" class="form-label">Lot Number:</label>
                    <input asp-for="@Model.LotNo" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <a asp-controller="LotTraveller" asp-action="Index" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
